
%p
  = link_to new_movie_path do
    Add movie

%h2 Movies

- Movie.all.each do |movie|
  .mr-movie
    %dl
      %dt  Title
      %dd= movie.title
      %dt  Description
      %dd= movie.description
      %dt  Date
      %dd= movie.date
      %dt  Submitter
      %dd= movie.user.name
    .mr-movie-voting
      - if current_user.likes?(movie)
        = link_to movie_vote_path(movie), method: :delete do
          Unlike
      - elsif current_user.hates?(movie)
        = link_to movie_vote_path(movie), method: :delete do
          Unhate
      - else
        = link_to movie_vote_path(movie, t:'like'), method: :post do
          Like
        |
        = link_to movie_vote_path(movie, t:'hate'), method: :post do
          Hate
