!!!
%html
  %head
    %title MovieRama
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      %h1 MovieRama
      .login-panel
        - if current_user
          #username= current_user.name

          -# - binding.pry
          = link_to session_path, method: :delete do
            Log out
        - else
          = link_to '/auth/github' do
            Log in
          = link_to '/auth/github' do
            Sign up

    .flash-group<>
      - flash.each do |name, message|
        .flash{class: "flash-#{name}"}= message

    = yield

    %hr/
    %p Current user:
    %pre= current_user.inspect
    %p Session data:
    - session.to_hash.each_pair do |k,v|
      %pre= "#{k}: #{v}"

